.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 32px 26px;
  transition: 0.23s background-color;
  border-bottom: 1px solid var(--vitalGreen10);
}

.wrapper:hover {
  background-color: var(--vitalGreen5);
}

.inner {
  display: flex
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.dotted::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
  border: 2px solid var(--vitalGreen90);
  transform: translateY(-3px);
}

.dottedLight::before {
  border-color: var(--vitalGreen70);
}

.specialityInfo {
  margin: 8px 0;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.avgPriceTitle {
  margin-bottom: 6px;
}
