.input {
  position: absolute;
  visibility: hidden;
}

.icon {
  position: absolute;
  left: 3px;
  top: 7px;
}

.label {
  display: flex;
  cursor: pointer;
  position: relative;
  padding-left: 32px;
}

.label:first-of-type {
  margin-top: 16px;
}

.label:not(:last-of-type) {
  margin-bottom: 16px;
}
