.wrapper {
  position: relative;
}

.input {
  padding: 12px 50px 12px 8px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid var(--vitalGreen30);
  border-radius: 4px;
  width: 100%;
}

.append {
  position: absolute;
  right: 12px;
  top: 10px;
}
