.wrapper {
    position: absolute;
    top: 0;
}

.menu {
    position: relative;
    background-color: #fff;
    border: 1px solid var(--vitalGreen30);
    border-radius: 8px;
    padding: 16px 16px 60px;
    z-index: 5;
    top: 50px;
    overflow-y: scroll;
}

.sizes_s {
    width: 266px;
    max-height: 434px;
}

.sizes_m {
    width: 320px;
    max-height: 434px;
}

.sizes_l {
    width: 375px;
    max-height: 492px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    user-select: none;
}

.listItem {
    margin-bottom: 16px;
}

.itemBorder {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--vitalGreen10);
}

.search {
    margin-bottom: 16px;
}

.icon {
    margin-right: 8px;
}

.itemTitle {
    margin-right: 8px;
}

.buttons {
    width: calc(100% - 2px);
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -49px;
    left: 1px;
    background-color: #fff;
    padding: 8px 16px;
    box-shadow: 0 -1px 8px rgba(0,0,0,0.1);
    z-index: 10;
    border-top: 1px solid var(--vitalGreen10);
}
