.wrapper {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--vitalGreen30);
  border-radius: 4px;
  padding: 6px 12px;
  background-color: rgba(0,0,0,0);
  position: relative;
  z-index: 5;
  outline: none;
  transition: 0.23s background-color;
}

.buttonOpened {
  background-color: var(--accentEmerald90);
  color: #fff;
}

.arrowIcon {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 4px;
}

.count::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
  border: 2px solid var(--vitalGreen90);
  transform: translateY(-3px);
}

.count_opened::before {
  border: 2px solid #fff;

}
