.favoriteButton {
  cursor: pointer;
  border: 0;
  background-color: rgba(0,0,0,0);
  margin-top: auto;
  position: relative;
  z-index: 5;
  outline: none;
  padding: 0;
  transition: 0.23s background-color;
}

.favoriteButton:hover {
  background-color: #fff;
}
