.button {
  cursor: pointer;
  border: 0;
  background-color: rgba(0,0,0,0);
  position: relative;
  z-index: 5;
  outline: none;
}

.standard {
  padding: 4px 24px;
  background-color: var(--accentEmerald90);
  border-radius: 4px;
  border: 1px solid var(--accentEmerald90);
  color: white;
  transition: 0.23s background-color;
}

.standard:hover {
  background-color: var(--vitalGreen90);
  border: 1px solid var(--vitalGreen90);

}

.outline {
  padding: 0;
}
