:root {
  --heartyRed70: #D97767;
  --heartyRed80: #ED6852;
  --accentEmerald90: #327680;
  --vitalGreen5: #F5F7F7;
  --vitalGreen10: #EAEEEE;
  --vitalGreen30: #BECACB;
  --vitalGreen50: #91A5A7;
  --vitalGreen70: #668386;
  --vitalGreen90: #244D51;
  --vitalGreen100: #1C383A;
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--vitalGreen90)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2, h3 {
  margin: 0;
  padding: 0;
}
