.subtitle {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.h3 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}

.body1 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.button {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.caption {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.regular {
  color: var(--vitalGreen90);
  border-color: var(--vitalGreen90);
}

.light {
  color: var(--vitalGreen70);
  border-color: var(--vitalGreen70);
}

.dark {
  color: var(--vitalGreen100);
  border-color: var(--vitalGreen100);
}

.red {
  color: var(--heartyRed70);
  border-color: var(--heartyRed70);
}

.white {
  color: white;
  border-color: white;
}

.dashed {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.dotted {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
