.wrapper {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: rgba(0,0,0,0);
  position: relative;
  z-index: 5;
  outline: none;
}

.icon {
  margin-right: 8px;
}

.menu {
  position: absolute;
  background: #FFFFFF;
  border-radius: 8px;
  min-width: 266px;
  padding: 24px 16px 34px;
  border: 1px solid var(--vitalGreen30);
}

.sortTitle {
  margin-right: 8px;
}
