.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  width: 22px;
  height: 22px;
  border: 2px solid var(--vitalGreen50);
  border-radius: 2px;
  margin-right: 8px;
  position: relative;
  flex-shrink: 0;
}

.checkbox_checked {
  background-color: var(--vitalGreen90);
  border: 2px solid var(--vitalGreen90);
}

.checkIcon {
  position: absolute;
  top: 4px;
  left: 2px;
}
