.avatar {
  border-radius: 50%;
  position: relative;
}

.img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
}

.videoVisit {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #F5E585;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
